* {
    box-sizing: border-box;

}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: #000000;
    margin: 0 auto;
    padding: 0 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_li-a {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.header_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
}

.icoon {
    font-size: 20px;
}

.buttone {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(255, 125, 11, 0.856);
    border: none;
}

.services__img {
    object-fit: cover;
}

.buttone-a {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 125, 11, 0.856);
    border: none;
}

.services_bt-a {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.div_p {
    margin-left: 300px;
}

.services_p {
    margin: 0px;
}

.main_col {
    text-align: center;
}

.main {
    margin-top: 150px;
}

.m {
    margin-top: 100px;
}

.mai {
    margin-top: 120px;
}

.mai_b {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: white;
}

.mai_p {
    margin-top: 70px;
}

.buttone-b {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 125, 11, 0.856);
    border: none;
}

.rasm {
    object-fit: cover;
}

.buto {
    border: none;
    font-size: 20px;
    margin-left: 20px;
}
#row {
    margin-top: 100px;
}


 .foot {
    margin-top: 70px;
 }

 .foot-h1 {
    text-align: center;
    margin-bottom: 40px;
 }